KATA MÓDULO 9

EJERCICIO 1

In [66]:
def promedioTanques(tanque1,tanque2, tanque3):
    promedio = (tanque1 + tanque2 + tanque3) / 3
    return promedio

In [67]:
print(promedioTanques(0,0,0))

0.0

In [68]:
def informeTanques(tanque1,tanque2,tanque3):
    print(f"""Combustible tanque 1: {tanque1},
    Combustible tanque 2: {tanque2},
    Combustible tanque 3: {tanque3},
    """)

In [70]:
print(informeTanques(50,90,38))

    Combustible tanque 1: 50,
    Combustible tanque 2: 90,
    Combustible tanque 3: 38,

None

In [73]:
tanque1 = 30
tanque2 = 90
tanque3 = 36

print("informe")
informeTanques(tanque1,tanque2,tanque3)

print("combustible promedio de los 3 tanques")
promedioTanques(tanque1,tanque2,tanque3)

informe

    Combustible tanque 1: 30,
    Combustible tanque 2: 90,
    Combustible tanque 3: 36,

combustible promedio de los 3 tanques

52.0

EJERCICIO 2

In [76]:
def informeMision(horaPrelanzamiento, tiempoVuelo, destino, tanqueExterno, tanqueInterno):
    return f"""
    Hora prelanzamiento: {horaPrelanzamiento},
    Tiempo de vuelo: {tiempoVuelo},
    Destino: {destino},
    Tanque externo: {tanqueExterno},
    Tanque interno: {tanqueInterno},
    """

print(informeMision(18,48,'Moon',900,260))

    Hora prelanzamiento: 18,
    Tiempo de vuelo: 48,
    Destino: Moon,
    Tanque externo: 900,
    Tanque interno: 260,

In [84]:
def informeMision(horaPrelanzamiento, destino, *minutos, **tanques):
    return f"""
    Hora prelanzamiento: {horaPrelanzamiento},
    Tiempo de vuelo: {sum(minutos)},
    Destino: {destino},
    Combustible en tanques: {tanques} - {sum(tanques.values())},
    """

print(informeMision(18,'Moon', 48, 60, 50, tanqueExterno = 900, tanqueInterno = 260))

    Hora prelanzamiento: 18,
    Tiempo de vuelo: 158,
    Destino: Moon,
    Combustible en tanques: {'tanqueExterno': 900, 'tanqueInterno': 260} - 1160,

In [94]:
def informeMision(horaPrelanzamiento, destino, *minutos, **tanques):
    plantilla = f"""
    Hora prelanzamiento: {horaPrelanzamiento},
    Tiempo de vuelo: {sum(minutos)},
    Destino: {destino},
    Combustible en tanques: {sum(tanques.values())},
    """
    

    for tanque in tanques.keys():
        plantilla += f"""
        {tanque} - {tanques[tanque]}
        """
    return plantilla


print(informeMision(18,'Moon', 48, 60, 50, tanqueExterno = 900, tanqueInterno = 260))

    Hora prelanzamiento: 18,
    Tiempo de vuelo: 158,
    Destino: Moon,
    Combustible en tanques: 1160,

        tanqueExterno - 900

        tanqueInterno - 260

EJEMPLOS DOCUMENTACIÓN MÓDULO 9

In [1]:
#Definir función
def rocket_parts():
    print('payload, propellant, structure')

In [2]:
#Llamar función
rocket_parts()

payload, propellant, structure

In [4]:
#Asignando resultado de función a una variable
output = rocket_parts()

output is None

payload, propellant, structure

True

In [5]:
#Definir función con valor devuelto
def rocket_parts():
    return 'payload, propellant, structure'

In [10]:
#Asignando resultado de función a una variable
output = rocket_parts()

print(output)
output is None

payload, propellant, structure

False

In [15]:
#Argumentos requeridos
print(any([True, False, False]))

print(any([False, False, False]))

# print(any()) #Da error porque necesita al menos un argumento

True
False

In [16]:
#Argumentos opcionales
str()

str(15)

'15'

In [17]:
#Función con argumento
def distance_from_earth(destination):
    if destination == 'Moon':
        return '238,855'
    else:
        return 'Unable to compute to that destination'

In [21]:
print(distance_from_earth('Moon'))
print(distance_from_earth('Saturn'))

238,855
Unable to compute to that destination

In [25]:
#Función con varios argumentos
def days_to_complete(distance, speed):
    hours = distance/speed
    return hours/24

In [26]:
total_days = days_to_complete(238855, 75)
round(total_days)

round(days_to_complete(238855, 75))

133

In [27]:
#Función con argumento opcional

from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')

In [28]:
arrival_time()

'Arrival: Wednesday 04:41'

In [31]:
arrival_time(hours=0)

'Arrival: Monday 01:44'

In [35]:
#Combinación de argumentos
from datetime import timedelta, datetime

def arrival_time(destination, hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime(f'{destination} Arrival: %A %H:%M')

print(arrival_time('Moon'))
arrival_time('Orbit', hours=0.13)

Moon Arrival: Wednesday 04:48

'Orbit Arrival: Monday 01:55'

In [43]:
#Argumentos de variable
def variable_length(*args):
    print(args)


variable_length(None)

(None,)

In [40]:
print(variable_length())

()
None

In [39]:
variable_length('one', 'two')

('one', 'two')

In [49]:
def sequence_time(*args):
    print(args[0])
    total_minutes = sum(args)
    if total_minutes < 60:
        return f'Total time to launch is {total_minutes} minutes'
    else:
        return f'Total time to launch is {total_minutes/60} hours'

In [50]:
sequence_time(4, 14, 18)

4

'Total time to launch is 36 minutes'

In [51]:
sequence_time(4, 14, 48)

4

'Total time to launch is 1.1 hours'

In [56]:
#Argumentos de palabra clave variable
def variable_length(**kwargs):
    print(kwargs['day'])
    print(kwargs)

In [57]:
variable_length(tanks=1, day='Wednesday', pilots=3)

Wednesday
{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [58]:
def crew_members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission:')
    for title, name in kwargs.items():
        print(f'{title}: {name}')

In [59]:
crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')

3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

In [61]:
# crew_members(captain='Neil Armstrong', pilot='Buzz Aldrin', pilot='Michael Collins') #No repetir palabras clave